@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sharks ASP.NET</h1>
    <h2>This page is about shark attacks</h2>
    <p class="lead">Go to @Html.ActionLink("Form", "Form", "Home") to add new entry</p>
    
</div>

