@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<<<<<<< HEAD
<p>Use this area to provide additional information.  @ViewBag.Message</p>
=======
<p>Ta strona służy zgłaszaniu ataków rekinów na ludzi</p>
>>>>>>> 3.1.18
